/*--------------header------------*/
#header{height:41px;background:#fafafc;}
#header .wrap span{float:left;}
#header .wrap div{float:right;margin-right:20px;}
#header .wrap a{font:12px/40px "微软雅黑";margin-right:40px;color:#666666;}
#header .wrap .a1{position:relative;left:-25px;}
#header .wrap img{position:absolute;top:2px;left:55px;}
#header .wrap a:hover{color:#0cbbef;}

/*--------------naver------------*/

#naver{height:82px;border-bottom:1px solid #efefef;}
#naver .wrap{height:82px;} 
#naver .wrap .logo{line-height:82px;float:left;}
#naver .wrap ul{float:left;margin-left: 143px;}
#naver .wrap ul li{float:left;line-height:82px;padding:0 20px 0 20px;}
#naver .wrap ul li a{color:black;}
#naver .wrap ul li a:hover{color:#0cbbef;}	
#naver .wrap .nav{width:100%;position: absolute;left:0;background:#fff;z-index:3;height:0;overflow:hidden;opacity:0;}	
#naver .wrap .naver1{overflow:hidden;margin-left:520px;}
#naver .wrap .naver2{overflow:hidden;margin-left:520px;}
#naver .wrap .naver3{overflow:hidden;margin-left:520px;}
#naver .wrap .naver4{overflow:hidden;margin-left:520px;}
#naver .wrap .naver5{overflow:hidden;margin-left:520px;}
#naver .wrap .nav dl{float:left;margin-top:18px;margin-right:72px;text-align:center;}
#naver .wrap .nav dl .dd1{margin-top:-60px;font-size:10px;}
#naver .wrap .nav dl .dd2{margin-top:-60px;font-size:15px;color:red;}

#naver .wrap .nav .nav_class{margin-left:300px;}

/*--------------footer------------*/

#footer{height:438px;background:#fafafc;margin-top:1600px;}
#footer .wrap{height:438px;margin-left:435px;}
#footer .wrap .footer1{border-bottom:1px solid #e5e5e5;}
#footer .wrap .footer2{height:157px;padding-top:25px;padding-left:96px;border-bottom:1px solid #e5e5e5;}
#footer .wrap .footer2 .left{float:left;}
#footer .wrap .footer2 .right{float:right;text-align:center;margin-right:25px; }
#footer .wrap .footer2 .right span{font-size:12px;color:gray;line-height:34px;}
#footer .wrap .footer2 .right h3{font-size:20px;line-height:57px;color:#1fa7ea;}
#footer .wrap .footer2 .right{}
#footer .wrap .footer2 .left ul{float:left;margin-right:185px;text-align:center;}
#footer .wrap .footer2 .left ul span{line-height:34px;font-size:14px;color:#000;}
#footer .wrap .footer2 .left ul li a{font-size:12px;line-height:24px;color:gray;}
#footer .wrap .footer3{position: relative;}
#footer .wrap .footer3 span {line-height:100px;margin-left:170px;color:gray;font-size:10px;}
#footer .wrap .footer3 img {margin-left:15px;position: absolute;top:35px;}



/*----------------main-----------------*/

#main{height:872px;background:#fff;padding-top:20px;}
#main .wrap{height:872px;} 
#main .top{width:1245px;height:895px;}
#main .wrap .left{width:495px;height:872px;float:left;}
#main .wrap .left a{color:gray;}
#main .wrap .left .bigimages{width:323px;height:323px;text-align:center;margin-top:80px;margin-left: 77px;}
#main .wrap .left .bigimages img{width:323px;height:323px;}
#main .wrap .left .smallimages{width:450px;height:88px;margin-top:65px;}
#main .wrap .left .smallimages div{margin-right:20px;width:87px;height:86px;float:left;text-align:center;position: relative;border:1px solid #fff;}
#main .wrap .left .smallimages div img{width:66px;height:66px;margin-top:8px;position:absolute;left:9px;top:0;}
#main .right {float:left;margin-top:55px;font-size:20px;}
#main .right span{font-size:20px;}
#main .right em{font-size:16px;display:block;color:#e22841;margin-top:8px;}
#main .right .div_0{width:675px;height:56px;background:#f5f5f5;margin-top:18px;line-height:56px;font-size:13px;}
#main .right .div_0 em{font-size:23px;color:#e22841;display:inline;}
#main .right .div_1 {width:675px;height:266px;border-bottom:1px solid #ebebeb;}
#main .right .div_1 div{height:35px;margin-top: 30px;font-size:13px;line-height:35px;}
#main .right .div_00 span{color:#000;margin-left:10px;text-align:center;display:inline-block;width:89px;height:35px;border-radius:5px;border:1px solid #00c3f5;font-size:13px;}
#main .right .div_01 span{color:#000;margin-left:10px;text-align:center;display:inline-block;width:108px;height:35px;border-radius:5px;border:1px solid #e5e5e5;font-size:13px;}
#main .right .div_02 span{color:#000;margin-left:10px;text-align:center;display:inline-block;width:68px;height:35px;border-radius:5px;border:1px solid #e5e5e5;font-size:13px;}
#main .right .div_03 span{color:#000;margin-left:10px;text-align:center;display:inline-block;width:112px;height:35px;border-radius:5px;border:1px solid #e5e5e5;font-size:13px;}
#main .right .div_03 span em{display:inline-block;color:gray;font-size:11px;}
#main .right .div_01 span img{width:30px;height:30px;margin-top:2px;float:left;margin-left:10px;}
/*#main .right .div_01 .asd{border:1px solid #00c3f5;} */
#main .right .div_2{width:675px;height:148px;border-bottom:1px solid #ebebeb;}
#main .right .div2_0{height:35px;margin-top: 20px;font-size:13px;line-height:35px;}
#main .right .div2_0 span{display:inline-block;padding-left:22px;color:#000;margin-left:10px;text-align:center;font-size:13px;background:url(../images/tubiao2.jpg) no-repeat left center; }
#main .right .div2_1 {height:35px;margin-top: 20px;font-size:13px;line-height:35px;}
#main .right .div2_1 input{color:#000;margin-left:10px;text-align:center;display:inline-block;width:135px;height:35px;border-radius:5px;border:1px solid #e5e5e5;font-size:13px;}
#main .right .div2_2 {height:35px;margin-top: 20px;font-size:13px;line-height:35px;}
#main .right .div2_2 span{color:#000;margin-left:10px;text-align:center;font-size:13px;}
#main .right .div_3{width:675px;}
#main .right .div3_0{margin-top: 45px;font-size:13px;line-height:35px;position: relative;}
#main .right .div3_0 input{margin-left:10px;width:55px;height:38px;border-radius:5px;border:1px solid #e5e5e5;}
#main .right .div3_0 .buy{display:inline-block;width:130px;height:40px;background:#ffa030;position: absolute;top:0;left:155px;border-radius:5px;text-align:center;line-height: 40px;}
#main .right .div3_0 .buy span{color:#fff;font-size:14px;}
#main .right .div3_0 .buy:hover{background:#e59332;}
#main .right .div3_0 .buy1{display:inline-block;width:130px;height:40px;background:#2ac4f6;position: absolute;top:0;left:320px;border-radius:5px;text-align:center;line-height: 40px;}
#main .right .div3_0 .buy1 span{color:#fff;font-size:14px;}
#main .right .div3_0 a:hover{background:#0aaee3;}
#main .right .div3_1{margin-top:55px;font-size:13px;line-height:35px;position:relative;}
#main .right .div3_1 img{width:28px;height:30px;position: absolute;top:3px;}
#main .right .div3_1 span{margin-left:30px;color:#000;font-size:14px;}
#main .right .div3_1 span:hover{color:#2ac4f6;}
#main #bottom{width:1245px;height:37px;border-bottom:1px solid #ebebeb;}
#main #bottom a{font-size:16px;color:#000;text-align:center;width:106px;height:37px;display:inline-block;margin-right: 20px;cursor:pointer;}
#main #bottom a:hover{color:#66ecff;}
#main #bottom .but0 {border-bottom:2px solid #00c3f5;color:#3ae1fd;}
#main #bottom1{margin-top:45px;width:1245px;height:1500px;background:#fff;}
#main #bottom2 {margin-top:45px;width:1245px;height:1500px;background:#fff;display:none;}
#main #bottom3{margin-top:45px;width:1245px;height:1500px;background:#fff;display:none;}









