/*--------------header------------*/
#header{height:41px;background:#fafafc;}
#header .wrap span{float:left;}
#header .wrap div{float:right;margin-right:20px;}
#header .wrap a{font:12px/40px "微软雅黑";margin-right:40px;color:#666666;}
#header .wrap .a1{position:relative;left:-25px;}
#header .wrap img{position:absolute;top:2px;left:55px;}
#header .wrap a:hover{color:#0cbbef;}

/*--------------naver------------*/

#naver{height:82px;border-bottom:1px solid #efefef;}
#naver .wrap{height:82px;} 
#naver .wrap .logo{line-height:82px;float:left;}
#naver .wrap ul{float:left;margin-left: 143px;}
#naver .wrap ul li{float:left;line-height:82px;padding:0 20px 0 20px;}
#naver .wrap ul li a{color:black;}
#naver .wrap ul li a:hover{color:#0cbbef;}	
#naver .wrap .nav{width:100%;position: absolute;left:0;background:#fff;z-index:3;height:0;overflow:hidden;opacity:0;}	
#naver .wrap .naver1{overflow:hidden;margin-left:520px;}
#naver .wrap .naver2{overflow:hidden;margin-left:520px;}
#naver .wrap .naver3{overflow:hidden;margin-left:520px;}
#naver .wrap .naver4{overflow:hidden;margin-left:520px;}
#naver .wrap .naver5{overflow:hidden;margin-left:520px;}
#naver .wrap .nav dl{float:left;margin-top:18px;margin-right:72px;text-align:center;}
#naver .wrap .nav dl .dd1{margin-top:-60px;font-size:10px;}
#naver .wrap .nav dl .dd2{margin-top:-60px;font-size:15px;color:red;}

#naver .wrap .nav .nav_class{margin-left:300px;}



/*--------------banner------------*/
#banner .play { width:100%; height: 480px; overflow: hidden; position: relative; margin:0 auto;}
#banner .play ol { position: absolute; left:1200px; bottom:8px; z-index: 2; }
#banner .play ol li {width:9px;height:9px;border-radius:50%;border: 1px solid silver; float: left; margin-right: 10px;  cursor: pointer;  color: #d94b01; display:inline;font-family: arial; font-size: 12px; }
#banner .play ul {width:11520px;position: absolute; top: 0; left: 0; }
#banner .play ul li {float:left;}
#banner .play ul li img{width:100%;height:480px;}

.active {font-weight: bold; color: #ffffff; background: #00c3f5; }


#banner{width:100%;height:480px;overflow:hidden;}
#banner .wrap{height:480px;position:relative;left:0px;top:0;}
#banner .wrap .classify{width:245px;height:484px;background:#f0f0f0;position:absolute;left:0;top:-484px;z-index:2;}
#banner .wrap .classify ul{padding:10px 0 10px 0;}
#banner .wrap .classify ul li{height:57px;padding-left:29px;}
#banner .wrap .classify ul li:hover{background:#fff}
#banner .wrap .classify ul li a{display:block;height:57px;font-size:13px;color:#3a3a3a;font-family:"微软雅黑";}
#banner .wrap .leftbgbut{text-align:center;width:30px;height:60px;position:absolute;left:245px;top:-280px;}
#banner .wrap a{font-size:20px;color:#fff;line-height:60px;}
#banner .wrap .rightbgbut{text-align:center;width:30px;height:60px;position:absolute;right:2px;top:-280px;}
#banner .wrap a{font-size:20px;color:#fff;line-height:60px;}
#banner .wrap .classify ul div{width:657px;height:484px;background:#fff;position:absolute;left:245px;top:0;}
#banner .wrap .classify #classify_0{display:none;}
#banner .wrap .classify #classify_0 .u1{float:right;}
#banner .wrap .classify #classify_1{display:none;}
#banner .wrap .classify #classify_1 .u1{float:right;}
#banner .wrap .classify #classify_2{display:none;}
#banner .wrap .classify #classify_2 .u1{float:right;}
#banner .wrap .classify #classify_3{display:none;}
#banner .wrap .classify #classify_3 .u1{float:right;}
#banner .wrap .classify #classify_4{display:none;}
#banner .wrap .classify #classify_4 .u1{float:right;}
#banner .wrap .classify #classify_5{display:none;}
#banner .wrap .classify #classify_5 .u1{float:right;}
#banner .wrap .classify #classify_6{display:none;}
#banner .wrap .classify #classify_6 .u1{float:right;}
#banner .wrap .classify .qwe{width:328px;height:480px;background:#fff;position:absolute;left:0;}
#banner .wrap .classify .qwe a{width:130px;height:47px;margin-top:45px;margin-left:20px;position:relative;float:left;}
#banner .wrap .classify .qwe3 a{width:180px;height:47px;margin-top:45px;margin-left:20px;position:relative;float:left;}
#banner .wrap .classify .qwe img{width:47px;height:47px;}
#banner .wrap .classify .qwe span{width:80px;height:30px;position:absolute;top:15px;left:60px;line-height:15px;}
#banner .wrap .classify .qwe1 span{width:80px;height:30px;position:absolute;top:5px;left:60px;line-height:15px;}
#banner .wrap .classify .qwe2 span{width:80px;height:30px;position:absolute;top:5px;left:60px;line-height:15px;}
#banner .wrap .classify .qwe3 span{width:80px;height:30px;position:absolute;top:5px;left:60px;line-height:15px;}
#banner .wrap .classify .qwe4 span{width:80px;height:30px;position:absolute;top:4px;left:60px;line-height:15px;}
#banner .wrap .classify .qwe5 span{width:80px;height:30px;position:absolute;top:4px;left:60px;line-height:15px;}
#banner .wrap .classify .qwe6 span{width:80px;height:30px;position:absolute;top:4px;left:60px;line-height:15px;}
/*--------------imagelist------------*/

#imagelist{height:142px;margin-top:5px;}
#imagelist .wrap{height:142px;}
#imagelist .wrap div{width:245px;height:142px;background:#f9f9f9;float:left;margin-right:5px;}
#imagelist .wrap .imagelist5{margin-right:0;}
#imagelist .wrap .imagelist1 dl {float:left;width:122px;text-align:center;height:70px;}
#imagelist .wrap .imagelist1 dl dt{text-align:center;width:122px;}
#imagelist .wrap .imagelist1 dl a{font-size:12px;color:#000;}
#imagelist .wrap .imagelist1 img{width:30px;height:30px;}

/*--------------shower------------*/

#shower{height:624px;margin-top:5px;}
#shower .wrap{height:580px;padding-top:44px;}
#shower .wrap .shower_0{width:1245px;height:342px;margin-top:25px;}
#shower .wrap .shower_1{width:1245px;height:121px;}
#shower .wrap .shower_1 img{margin-top:30px;}
#shower .wrap .shower_0 div{width:246px;height:340px;border:1px solid #efefef;float:left;border-right:0;}
#shower .wrap .shower_0 .showerdiv_4{border-right:1px solid #efefef;}
#shower .wrap .shower_0 dl{width:200px;margin:0 auto;margin-top:30px;text-align:center;}
#shower .wrap .shower_0 .dd1{font-size:14px;margin-top:20px;color:#555757;}
#shower .wrap .shower_0 .dd2{font-size:12px;margin-top:2px;color:#999999;}
#shower .wrap .shower_0 .dd3{color:#ea2b41;margin-top:3px;}

/*--------------main------------*/
#main{height:3551px;background:#f5f5f5;}
#main .wrap{height:3551px;}
#main .wrap div{width:1242px;height:915px;padding-top:27px;padding-right:3px;}
#main .wrap .main3{height:765px;}

#main .wrap .maintitle{width:1242px;height:45px;}
#main .wrap .span1{float:left;font-size:23px;}
#main .wrap .a1{float:right;font-size:15px;color:#333333;}
#main .wrap .a2{font-size:15px;color:#333333;line-height:35px;}
#main .wrap em{margin-left:33px;}
#main .wrap a:hover{color:#0cbbef;}
#main .wrap .wer dl{float:left;width:244px;height:313px;text-align:center;margin-right:5px;margin-bottom:5px;padding-top:25px;background:#fff;position:relative;top:0px;}
#main .wrap .wer #wert{padding-top:0px;height:338px;}
#main .wrap .wer #wert1{padding-top:0px;height:338px;}
#main .wrap .wer #wert2{padding-top:0px;height:338px;}
#main .wrap .wer dl .dd1{font-size:13px;margin-top:20px;color:#000;}
#main .wrap .wer dl .dd2{font-size:12px;color:gray;margin-top: 2px;}
#main .wrap .wer dl .dd3{color:red; margin-top: 5px;}
#main .wrap .bottomimg {margin-top:740px;}
.shadow{box-shadow:0px 5px 5px #dddddd;}

/*--------------footer------------*/

#footer{height:438px;background:#fafafc;}
#footer .wrap{height:438px;}
#footer .wrap .footer1{border-bottom:1px solid #e5e5e5;}
#footer .wrap .footer2{height:157px;padding-top:25px;padding-left:96px;border-bottom:1px solid #e5e5e5;}
#footer .wrap .footer2 .left{float:left;}
#footer .wrap .footer2 .right{float:right;text-align:center;margin-right:25px; }
#footer .wrap .footer2 .right span{font-size:12px;color:gray;line-height:34px;}
#footer .wrap .footer2 .right h3{font-size:20px;line-height:57px;color:#1fa7ea;}
#footer .wrap .footer2 .right{}
#footer .wrap .footer2 .left ul{float:left;margin-right:185px;text-align:center;}
#footer .wrap .footer2 .left ul span{line-height:34px;font-size:14px;color:#000;}
#footer .wrap .footer2 .left ul li a{font-size:12px;line-height:24px;color:gray;}
#footer .wrap .footer3{position: relative;}
#footer .wrap .footer3 span {line-height:100px;margin-left:170px;color:gray;font-size:10px;}
#footer .wrap .footer3 img {margin-left:15px;position: absolute;top:35px;}














